#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html {
  overflow-y: auto !important;
}

div {
  overflow: visible !important;
}

.card-tarefa{
   border: 2px solid #ff006e !important;
  background: #fff9c4 !important;
  color: #000 !important;
  padding: 10px !important;
  margin: 6px 0 !important;
  display: block !important;
  position: relative !important;
  z-index: 10 !important;
   margin: 8px 0;
}



